table {
    border-collapse: collapse;
    /*border: 1px solid black;*/
}

.village-item {
}

.workshop-item {
}

.surplus-item {
}

.surplus-item-selected {
    background: #ddffdd;
}

.deficit-item {
}

.deficit-item-selected {
    background: #ffdddd;
}

.cell-name {
    text-align: right;
    padding: 0 5px;
}