table {
    border-collapse: collapse;
    /*border: 1px solid black;*/
}

.content-column{
    float: left;
    padding: 10px;
}

.content-column-right{
    height: 90vh;
    overflow: scroll;
}

.content-row:after {
    content: "";
    display: table;
    clear: both;
}