<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'City ' + ${cityInfo.getName()} + 'editor'"></title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Id:</td>
        <td th:text="${cityInfo.getId()}"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="${cityInfo.getName()}"></td>
    </tr>
    <tr>
        <td>Deficit:</td>
        <td th:text="${cityInfo.getDeficit()}"></td>
    </tr>

    </tbody>

</table>
</body>
</html>